

.profile-auth-container {
  margin-top: 5%;
}

.auth-page-wrapper .auth-page-form-container {
  margin-top: 40px;
}

.auth-icon-circle {
  width: 70px;
  height: 70px;
  background-color: #e8f5e9;
  color: #3ea03e;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.input-group-text {
  color: #3ea03e;
}

.form-control:focus {
  box-shadow: 0 0 0 0.25rem rgba(62, 160, 62, 0.25);
  border-color: #3ea03e;
}